	h3 {
	margin:0;
	text-align: center;
	}
	
	

	input[type="text"], input[type="password"], select, textarea {
	
	margin-left:10px;
	margin-bottom:10px;
	}
	
	label {
	width:140px;
	float:left;

	}

	fieldset{
		margin-left:7%;

	}

	.pesan{
		color:red;
	}


